<div class="container">
<div class="row">
  <col-md-6>
    <p class="bg-primary">Average arriving time for <%= @user[:name] %>: <%= average_arrival_time(@user.arrival_times) %></p>
  </col-md-6>
</div>
</div>

